<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img width="150px;" src="<%= image_url("EnVisage_Logo.png") %>">
    <p style="padding-left: 2px; margin-top: 5px; font-size: .8em">EnVisage Consulting, Inc.</p>
    <br>
    <p>An account has been created for you on the EnVisage Timelog!</p>
    <p>User details<br>
    --------------------------
    </p>
    <p>Name: <%= @new_user.name %></p>
    <p>Email: <%= @new_user.email %></p>
    <p>----------</p><br>
    <p>Activate your account here: <%= link_to("Activate my account", user_activate_url(@new_user, password_recovery: @password_recovery, password_recovery_params: @password_recovery.token)) %></p>
  </body>
</html>