.alert-text { color: #ec5840; }
.success-text { color: #3adb76; }
.secondary-text { color: #777; }

.spacer { padding: 1rem; }

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

table td.empty {
  background: #eee;
  padding: 4rem 1rem;
  text-align: center;
  color: #777;
}