<%= back_link "Run Project Report", new_reports_project_report_path, icon: "line-chart" if current_user.admin? %>
<%= back_link "Run Comprehensive Report", new_reports_comprehensive_report_path, icon: "line-chart" if current_user.admin? %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Personal Report</h1>
  </div>
</div>

<%= render "form" %>