<%= back_link "Run Personal Report", new_reports_personal_report_path, icon: "line-chart" %>
<%= back_link "Run Project Report", new_reports_project_report_path, icon: "line-chart" %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Comprehensive Report</h1>
  </div>
</div>

<%= render "form" %>