<%= back_link "Run Personal Report", new_reports_personal_report_path, icon: "line-chart" %>
<% if current_user.admin? %>
  <%= back_link "Run Comprehensive Report", new_reports_comprehensive_report_path, icon: "line-chart" %>
<% end %>

<div class="row">
  <div class="columns">
    <div class="spacer"></div>
    <h1>Project Report</h1>
  </div>
</div>

<%= render "form" %>