.alert-text { color: $alert-color; }
.success-text { color: $success-color; }
.secondary-text { color: $secondary-color; }

.spacer { padding: 1rem; }

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

table td.empty {
  background: $light-gray;
  padding: 4rem 1rem;
  text-align: center;
  color: #777;
}