.primary-text { color: $primary-color; }
.secondary-text { color: $secondary-color; }
.success-text { color: $success-color; }
.alert-text { color: $alert-color; }
.warning-text { color: $warning-color; }

a.alert-link { color: $alert-color; }
a.alert-link:hover { color: scale-color($alert-color, $lightness: -14%); }

.spacer { padding: 1rem; }

.monospaced { font-family: $font-family-monospace; }

.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }

.small-container { max-width: 30rem; margin: auto; }

table {
  td.empty {
    background: $light-gray;
    padding: 4rem 1rem;
    text-align: center;
    color: #777;
  }

  &.report {
    font-size: 0.8rem;
    td { vertical-align: top; }
    tbody {
      tr { background: none; }
    }
    tbody { border: $primary-color double; border-left: 0; border-right: 0; }
    thead, tfoot { background: none; border: 0; }

    .subtotal { border-top: 1px solid $medium-gray; font-weight: $global-weight-bold; }
  }
  .total { font-weight: $global-weight-bold; font-size: 1.5em; }
}

.back-link {
  a {
    float: right;
    margin-top: 1rem;
  }
}

.dashboard-hours-div { width: 80%; margin: auto; height: 70px; }
.dashboard-hours-completed { float:left; margin-left: 85px; }
.dashboard-hours-completed-zero { float:left; margin-left: 125px; }
.dashboard-today-count { float:left; margin-left: 50px;}
.dashboard-this-week-count { float: right; margin-right: 30px; }
