<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= "#{@user.name}" %>!</p>
    <p>A password reset request was made for your account on the EnVisage Timelog. If this was you, click the link below. Otherwise, feel free to disregard this email.</p>
    <p>Reset your password here: <%= link_to("Reset my password", password_recoveries_url(password_recovery_params: @password_recovery.token)) %></p>

    <img src="<%= attachments['EnVisage_Logo.png'].url %>" width="130">
    <p style="padding-left: 1.5px; margin-top: 0px; font-size: .8em">EnVisage Consulting, Inc.</p>
  </body>
</html>