<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img width="150px;" src="<%= image_url("EnVisage_Logo.png") %>">
    <p style="padding-left: 2px; margin-top: 5px; font-size: .8em">EnVisage Consulting, Inc.</p>
    <br>
    <p>Hello, <%= "#{@user.name}" %>!</p><br>
    <p>A password reset request was made for your account on the EnVisage Timelog. If this was you, click the link below. Otherwise, feel free to disregard this email.</p><br>

    <p>Reset your password here: <%= link_to("Reset my password", password_recoveries_url(password_recovery_params: @password_recovery.token)) %></p>
  </body>
</html>