<div class="row">

  <div style="margin:auto; width: 90%">
    <div class="columns large-3 small-3">
      <%= link_to fa_icon("graph", text: "Logs from Last Week"), reports_payroll_reports_path(reports_payroll_report: personal_report_params("Last Week")), class: 'button no-margin' %>
    </div>
    <div class="columns large-3 small-3">
      <%= link_to fa_icon("graph", text: "Logs from This Week"), reports_payroll_reports_path(reports_payroll_report: personal_report_params("This Week")), class: 'button no-margin' %>
    </div>
    <div class="columns large-3 small-3">
      <%= link_to fa_icon("graph", text: "Logs from Last Month"), reports_payroll_reports_path(reports_payroll_report: personal_report_params("Last Month")), class: 'button no-margin' %>
    </div>
    <div class="columns large-3 small-3">
      <%= link_to fa_icon("graph", text: "Logs from This Month"), reports_payroll_reports_path(reports_payroll_report: personal_report_params("This Month")), class: 'button no-margin' %>
    </div>
  </div>
</div>