<div class="columns large-3 small-3">
  <%= link_to fa_icon("graph", text: "Logs from "+range), reports_payroll_reports_path(reports_payroll_report: personal_report_params(range)), class: 'button no-margin log-date-button', data: { dates: personal_report_date_range(range) } %>
</div>
