<div class="row">
  <div class="columns">
    <ul>
      <li><%= link_to "Payroll Report", new_reports_payroll_report_path %></li>
      <li><%= link_to "Invoice Report", new_reports_invoice_report_path %></li>
    </ul>
  </div>
</div>