<div class="top-bar" id="footer">
    <p>
       <a href="http://envisageconsult.com" target="_blank">EnVisage Consulting, Inc.</a><br>6847 Anderson Ave Manhattan, KS 66503<br>
       &copy 2020 - <span id="year"></span>
    </p>
</div>

<script type="text/javascript">
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>