<div class="top-bar" style="position: relative; left: 0; bottom: 0; width: 100%; text-align: center; margin-top: 20px;">
    <p>
       <a href="http://envisageconsulting.org" target="_blank">Envisage Consulting</a><br>6847 Anderson Ave Manhattan, KS 66503 | (785) 587-0151
       &copy 2020
    </p>
</div>